<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
<body>
    <div class="container">  
                <% articles.forEach(function(article){ %>   
                    <img src="<%= article.Image_Path %>" style="width:100%">
                        <div>
                          <h4 ><%= article.Title %></h4>
                          <p > <%= article.Body.substr(0, 100) %></p>
                          <a href="/article/<%=article.ID%>">Read More</a>
                        </div>
                        <div><%= article.Created %></div>
                      </div>
                      <br>
                      <a href="/article_approve/<%=article.ID%>">Approve</a>
                      <a href="/article_delete/<%=article.ID%>">Delete</a>
                      <br>
              <%  }) %>
    </div>      
</body>
</html>