<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">  
                    <div class="text-center">
                      <h4><%= profile.Name %>'s Profile</h4>  
                      <% if(follow == false){%>
                      <a href="/profile/follow/<%= profile.ID %>"> <button type="button" class="btn btn-info">Follow</button> </a>
                      <%} else {%>
                        <h5>already following</h5>
                        <a href="/profile/unfollow/<%= profile.ID %>"> <button type="button" class="btn btn-danger">Unfollow</button> </a>
                        <% } %>
                        <a href="/follows/<%= profile.Email %>"> <button type="button" class="btn btn-info">Checkout My Followers!</button> </a>
                    </div> <br> 
                    <% articles.forEach(function(article){ %>
                    <img src="<%= article.Image_Path %>" style="width:100%">
                        <div>
                          <h4 ><%= article.Title %></h4>
                          <p > <%= article.Body.substr(0, 100) %></p>
                          <a href="/article/<%=article.ID%>">Read More</a>
                        </div>
                        <div><%= article.Created %></div>
                        
                      </div>
                      <br>
                      <br>
              <%  }) %>
    </div>      
</body>
</html>