<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container"> 
        <br>
        <div class="row text-center">
            <div class="col-md-3"> </div>
            <div class="col-md-6"> 
            <% if (statistics.length > 0){ %>
            <h4 class="p-2 mb-2 bg-secondary text-white">POPULAR CATEGORIES!!</h4>
            <table id = "myTable" class="table table-bordered table-hover table-striped shadow-sm bg-white rounded">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Articles Available</th>
                    </tr>
                </thead>
                <tbody>
                    <% statistics.forEach(function(statistics){ %>
                        <tr>
                            <td><%= statistics.Category_Name %></td>
                            <td><%= statistics.Category_Count %></td>
                        </tr>
                    <%  }) %>  
                </tbody>
            </table>
            <% } %> 
            </div>
            <form action="/search" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" name="search" placeholder="Search Article">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
            </form>
        </div>
        <hr>
        <% if (articles.length > 0){ %>
            <h3 class="text-center text-info"><%= search_title %></h3> 
        <% articles.forEach(function(article, index){ %>  
            <% if (index % 4 == 0){ %>
              <div class="row"> 
            <% } %>
            <div class="col-md-3">
              <br>
                <div class="card-deck">
                <div class="card border-info mb-3 shadow bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header text-secondary">By: <%= article.Name %></div>
                  <img class="card-img-top" height="125rem" src="<%= article.Image_Path %>" alt="Card image cap">
                  <div class="card-body text-dark">
                    <h5 class="card-title text-info"><%= article.Title.substr(0,20)%>..</h5>
                    <p class="card-text"><%= article.Body.substr(0, 100) %>...</p>
                    <a href="/article/<%=article.ID%>" class="btn btn-primary btn-sm">Read More</a>
                  </div>
                  <div class="card-footer text-secondary"><%= article.Created %></div>
                    </div>
                  </div>
              </div>
              <% if ((index+1) % 4 == 0){ %> </div>
              <% } %>
          <%  }) %> 
          <% } %>
    </div>      
</body>
</html>